In [189]:
from datetime import datetime

from pyspark import Row
from pyspark.sql import SparkSession, Window, functions as f
from pyspark.sql.types import StructType, StructField, StringType, DoubleType, TimestampType, IntegerType

In [190]:
spark = (SparkSession
         .builder
         .master("local[*]")
         .appName("data_exploration")
         .config("spark.driver.memory", "2g")
         .getOrCreate())

sc = spark.sparkContext

In [191]:
sc.uiWebUrl

'http://192.168.0.16:4040'

To start the exploration, we use a few month worth of data from 2003 that know to contain a heatwave from the assignment description.

Each file has several lines of headers that we need to strip.

In [192]:
def parse_float(string_to_parse: str):
    string = string_to_parse.rstrip()
    if string == "":
        return None
    else:
        return float(string_to_parse)


def parse_timestamp(string_to_parse: str):
    string = string_to_parse.rstrip()
    return datetime.strptime(string, "%Y-%m-%d %H:%M:%S")


def parse_row(row: str):
    return Row(
        timestamp=parse_timestamp(row[:21]),
        location=row[21:41].rstrip(),
        location_name=row[41:89].rstrip(),
        latitude=parse_float(row[89:109]),
        longitude=parse_float(row[109:129]),
        altitude=parse_float(row[129:149]),
        u_bool_10=parse_float(row[149:169]),
        t_dryb_10=parse_float(row[169:189]),
        tn_10cm_past_6h_10=parse_float(row[189:209]),
        t_dewp_10=parse_float(row[209:229]),
        t_dewp_sea_10=parse_float(row[229:249]),
        t_dryb_sea_10=parse_float(row[249:269]),
        tn_dryb_10=parse_float(row[269:289]),
        t_wetb_10=parse_float(row[289:309]),
        tx_dryb_10=parse_float(row[309:329]),
        u_10=parse_float(row[329:349]),
        u_sea_10=parse_float(row[349:]),
    )

In [193]:
parse_input_rdd = (sc
                   .textFile("../data/kis_tot_200*", 4)
                   .map(lambda x: x.split(",")[0])
                   .filter(lambda x: not x.startswith("#"))
                   .map(lambda x: parse_row(x)))

Create a schema based on the files' schema.

| Field                | Description                                                         |
|----------------------|---------------------------------------------------------------------|
| `DTG`                | date of measurement                                                 |
| `LOCATION`           | location of the meteorological station                              |
| `NAME`               | name of the meteorological station                                  |
| `LATITUDE`           | in degrees (WGS84)                                                  |
| `LONGITUDE`          | in degrees (WGS84)                                                  |
| `ALTITUDE`           | in 0.1 m relative to Mean Sea Level (MSL)                           |
| `U_BOOL_10`          | air humidity code boolean 10' unit                                  |
| `T_DRYB_10`          | air temperature 10' unit Celcius degrees                            |
| `TN_10CM_PAST_6H_10` | air temperature minimum 0.1m 10' unit Celcius degrees               |
| `T_DEWP_10`          | air temperature derived dewpoint - 10' unit Celcius degrees         |
| `T_DEWP_SEA_10`      | air temperature derived dewpoint- sea 10' unit Celcius degrees      |
| `T_DRYB_SEA_10`      | air temperature height oil platform 10 minutes unit Celcius degrees |
| `TN_DRYB_10`         | air temperature minimum 10' unit Celcius degrees                    |
| `T_WETB_10`          | air temperature derived wet bulb- 10' unit Celcius degrees          |
| `TX_DRYB_10`         | air temperature maximum 10' unit Celcius degrees                    |
| `U_10`               | relative air humidity 10' unit %                                    |
| `U_SEA_10`           | is relative sea air humidity 10' unit %                             |

In [194]:
schema = StructType([
    StructField("timestamp", TimestampType(), False),
    StructField("location", StringType(), True),
    StructField("location_name", StringType(), True),
    StructField("latitude", DoubleType(), True),
    StructField("longitude", DoubleType(), True),
    StructField("altitude", DoubleType(), True),
    StructField("u_bool_10", DoubleType(), True),
    StructField("t_dryb_10", DoubleType(), True),
    StructField("tn_10cm_past_6h_10", DoubleType(), True),
    StructField("t_dewp_10", DoubleType(), True),
    StructField("t_dewp_sea_10", DoubleType(), True),
    StructField("t_dryb_sea_10", DoubleType(), True),
    StructField("tn_dryb_10", DoubleType(), True),
    StructField("t_wetb_10", DoubleType(), True),
    StructField("tx_dryb_10", DoubleType(), True),
    StructField("u_10", DoubleType(), True),
    StructField("u_sea_10", DoubleType(), True),
])

In [195]:
df = (spark
      .createDataFrame(parse_input_rdd, schema=schema)
      .where(f.col("location") == "260_T_a")
      .select("timestamp",
              "location_name",
              f.col("T_DRYB_10").alias("temperature"),
              f.col("TN_DRYB_10").alias("temperature_minimum"),
              f.col("TX_DRYB_10").alias("temperature_maximum"),
              )
      )

In [196]:
max_df = df.groupBy(f.to_date("timestamp").alias("date")).agg(f.max(f.coalesce("temperature_maximum", "temperature")).alias("temperature")).cache()

In [ ]:
max_df.count()

In [200]:
# There's nothing to partition on in this case. All data will be moved to a single partition and be processed on a single worker.
# This only works as long as the dataframe is sufficiently small (which it is at this point).
window_spec = Window.orderBy("date")

is_start_of_sequence = f.col("number_of_days_to_preceding_rows_date") > 1

window_df = (max_df
             # Only keep days which might be part of a heat wave.
             .where(f.col("temperature") >= 25)
             # Ordering by date, calculate the date difference between each row and its preceding row.
             .withColumn("number_of_days_to_preceding_rows_date", f.datediff("date", f.lag("date").over(window_spec)))
             # If the number of days to the preceding row is greater than 1 in a row, the date is the start of a new sequence.
             .withColumn("sequence_start_date", f.when(is_start_of_sequence, f.col("date")))
             # For all other rows, find the last non-null value (going upwards in the column/backwards in time).
             .withColumn("sequence_start_date",
                         f.last(f.col("sequence_start_date"), ignorenulls=True).over(window_spec))
             )

include_partial_sequence_at_beginning_of_date_range = False

# Only required for bootstrapping. When processing a new batch of data for month n + 1 together with month n to recalculate potential heat waves lasting from month n to month + 1, we don't want to include partial data at the beginning of the month.
# if include_partial_sequence_at_beginning_of_daterange:
#TODO set start date where number_of_days_to_preceding_rows_date is null
# else:
#TODO filter rows where sequence_start_date is null

window_df = window_df.where(f.col("sequence_start_date").isNotNull())

In [201]:
window_df.show(200)

23/07/15 23:11:08 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
23/07/15 23:11:08 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
23/07/15 23:11:08 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
23/07/15 23:11:08 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
23/07/15 23:11:08 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
23/07/15 23:30:42 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
23/07/15 23:30:42 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
23/07/15 23:30:42 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
23/07/15 23:30:42 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.

+----------+-----------+-------------------------------------+-------------------+
|      date|temperature|number_of_days_to_preceding_rows_date|sequence_start_date|
+----------+-----------+-------------------------------------+-------------------+
|2003-06-04|       28.9|                                    2|         2003-06-04|
|2003-06-06|       25.0|                                    2|         2003-06-06|
|2003-06-07|       26.5|                                    1|         2003-06-06|
|2003-06-08|       25.4|                                    1|         2003-06-06|
|2003-06-10|       25.4|                                    2|         2003-06-10|
|2003-06-16|       25.0|                                    6|         2003-06-16|
|2003-06-17|       25.4|                                    1|         2003-06-16|
|2003-06-22|       25.3|                                    5|         2003-06-22|
|2003-06-23|       26.5|                                    1|         2003-06-22|
|2003-06-26|       25.0|                                    3|         2003-06-26|
|2003-06-27|       27.5|                                    1|         2003-06-26|
|2003-07-10|       26.1|                                   13|         2003-07-10|
|2003-07-11|       25.9|                                    1|         2003-07-10|
|2003-07-13|       25.1|                                    2|         2003-07-13|
|2003-07-14|       27.8|                                    1|         2003-07-13|
|2003-07-15|       31.2|                                    1|         2003-07-13|
|2003-07-16|       34.3|                                    1|         2003-07-13|
|2003-07-18|       25.0|                                    2|         2003-07-18|
|2003-07-19|       31.1|                                    1|         2003-07-18|
|2003-07-20|       30.7|                                    1|         2003-07-18|
|2003-07-21|       28.1|                                    1|         2003-07-18|
|2003-07-22|       25.2|                                    1|         2003-07-18|
|2003-07-23|       26.3|                                    1|         2003-07-18|
|2003-07-29|       27.1|                                    6|         2003-07-29|
|2003-07-31|       26.9|                                    2|         2003-07-31|
|2003-08-01|       28.3|                                    1|         2003-07-31|
|2003-08-02|       26.7|                                    1|         2003-07-31|
|2003-08-03|       26.9|                                    1|         2003-07-31|
|2003-08-04|       29.7|                                    1|         2003-07-31|
|2003-08-05|       30.8|                                    1|         2003-07-31|
|2003-08-06|       33.9|                                    1|         2003-07-31|
|2003-08-07|       35.0|                                    1|         2003-07-31|
|2003-08-08|       30.9|                                    1|         2003-07-31|
|2003-08-09|       26.5|                                    1|         2003-07-31|
|2003-08-10|       30.4|                                    1|         2003-07-31|
|2003-08-11|       31.5|                                    1|         2003-07-31|
|2003-08-12|       33.8|                                    1|         2003-07-31|
|2003-08-13|       26.1|                                    1|         2003-07-31|
|2003-09-05|       25.0|                                   23|         2003-09-05|
|2003-09-17|       25.3|                                   12|         2003-09-17|
|2003-09-18|       28.6|                                    1|         2003-09-17|
|2003-09-20|       27.4|                                    2|         2003-09-20|
|2003-09-22|       26.1|                                    2|         2003-09-22|
|2004-02-16|       28.3|                                  147|         2004-02-16|
|2004-06-07|       26.6|                                  112|         2004-06-07|
|2004-06-08|       29.7|                                    1|         2004-06-07|
|2004-06-09|       25.4|                                    1|         2004-06-07|
|2004-07-17|       28.7|                                   38|         2004-07-17|
|2004-07-22|       26.2|                                    5|         2004-07-22|
|2004-07-29|       26.2|                                    7|         2004-07-29|
|2004-07-30|       27.8|                                    1|         2004-07-29|
|2004-07-31|       25.8|                                    1|         2004-07-29|
|2004-08-02|       26.2|                                    2|         2004-08-02|
|2004-08-03|       27.4|                                    1|         2004-08-02|
|2004-08-04|       28.1|                                    1|         2004-08-02|
|2004-08-05|       29.6|                                    1|         2004-08-02|
|2004-08-06|       30.0|                                    1|         2004-08-02|
|2004-08-07|       25.6|                                    1|         2004-08-02|
|2004-08-08|       31.0|                                    1|         2004-08-02|
|2004-08-09|       32.5|                                    1|         2004-08-02|
|2004-08-10|       28.4|                                    1|         2004-08-02|
|2004-08-11|       26.3|                                    1|         2004-08-02|
|2004-08-15|       25.3|                                    4|         2004-08-15|
|2004-08-18|       26.2|                                    3|         2004-08-18|
|2004-09-03|       26.0|                                   16|         2004-09-03|
|2004-09-04|       26.0|                                    1|         2004-09-03|
|2004-09-05|       28.0|                                    1|         2004-09-03|
|2004-09-06|       26.3|                                    1|         2004-09-03|
|2004-09-10|       25.9|                                    4|         2004-09-10|
|2005-05-01|       28.5|                                  233|         2005-05-01|
|2005-05-26|       29.1|                                   25|         2005-05-26|
|2005-05-27|       30.7|                                    1|         2005-05-26|
|2005-05-28|       25.0|                                    1|         2005-05-26|
|2005-06-03|       25.7|                                    6|         2005-06-03|
|2005-06-18|       26.1|                                   15|         2005-06-18|
|2005-06-19|       29.8|                                    1|         2005-06-18|
|2005-06-20|       32.8|                                    1|         2005-06-18|
|2005-06-21|       25.7|                                    1|         2005-06-18|
|2005-06-22|       25.8|                                    1|         2005-06-18|
|2005-06-23|       30.7|                                    1|         2005-06-18|
|2005-06-24|       32.6|                                    1|         2005-06-18|
|2005-06-28|       25.6|                                    4|         2005-06-28|
|2005-06-29|       26.1|                                    1|         2005-06-28|
|2005-07-03|       25.2|                                    4|         2005-07-03|
|2005-07-10|       27.4|                                    7|         2005-07-10|
|2005-07-12|       25.7|                                    2|         2005-07-12|
|2005-07-13|       25.1|                                    1|         2005-07-12|
|2005-07-14|       28.1|                                    1|         2005-07-12|
|2005-07-18|       26.1|                                    4|         2005-07-18|
|2005-07-28|       28.5|                                   10|         2005-07-28|
|2005-07-29|       26.2|                                    1|         2005-07-28|
|2005-08-18|       27.2|                                   20|         2005-08-18|
|2005-08-19|       25.7|                                    1|         2005-08-18|
|2005-08-29|       25.4|                                   10|         2005-08-29|
|2005-08-30|       26.1|                                    1|         2005-08-29|
|2005-08-31|       28.9|                                    1|         2005-08-29|
|2005-09-04|       25.0|                                    4|         2005-09-04|
|2005-09-05|       26.8|                                    1|         2005-09-04|
|2005-09-06|       25.8|                                    1|         2005-09-04|
|2005-09-07|       25.4|                                    1|         2005-09-04|
|2005-09-08|       27.6|                                    1|         2005-09-04|
|2005-09-09|       26.6|                                    1|         2005-09-04|
|2005-09-10|       26.0|                                    1|         2005-09-04|
|2006-05-04|       26.3|                                  236|         2006-05-04|
|2006-05-05|       25.3|                                    1|         2006-05-04|
|2006-05-08|       25.0|                                    3|         2006-05-08|
|2006-05-09|       25.0|                                    1|         2006-05-08|
|2006-05-10|       25.5|                                    1|         2006-05-08|
|2006-05-11|       25.8|                                    1|         2006-05-08|
|2006-06-09|       25.6|                                   29|         2006-06-09|
|2006-06-10|       28.0|                                    1|         2006-06-09|
|2006-06-11|       30.0|                                    1|         2006-06-09|
|2006-06-12|       29.8|                                    1|         2006-06-09|
|2006-06-13|       31.5|                                    1|         2006-06-09|
|2006-06-18|       29.0|                                    5|         2006-06-18|
|2006-06-24|       25.5|                                    6|         2006-06-24|
|2006-06-30|       27.0|                                    6|         2006-06-30|
|2006-07-01|       29.7|                                    1|         2006-06-30|
|2006-07-02|       30.2|                                    1|         2006-06-30|
|2006-07-03|       30.1|                                    1|         2006-06-30|
|2006-07-04|       32.0|                                    1|         2006-06-30|
|2006-07-05|       29.6|                                    1|         2006-06-30|
|2006-07-06|       28.3|                                    1|         2006-06-30|
|2006-07-09|       26.2|                                    3|         2006-07-09|
|2006-07-10|       26.4|                                    1|         2006-07-09|
|2006-07-12|       25.2|                                    2|         2006-07-12|
|2006-07-13|       26.9|                                    1|         2006-07-12|
|2006-07-15|       26.9|                                    2|         2006-07-15|
|2006-07-16|       30.2|                                    1|         2006-07-15|
|2006-07-17|       32.0|                                    1|         2006-07-15|
|2006-07-18|       33.2|                                    1|         2006-07-15|
|2006-07-19|       35.7|                                    1|         2006-07-15|
|2006-07-20|       29.9|                                    1|         2006-07-15|
|2006-07-21|       30.3|                                    1|         2006-07-15|
|2006-07-22|       31.2|                                    1|         2006-07-15|
|2006-07-23|       28.4|                                    1|         2006-07-15|
|2006-07-24|       29.2|                                    1|         2006-07-15|
|2006-07-25|       31.6|                                    1|         2006-07-15|
|2006-07-26|       32.7|                                    1|         2006-07-15|
|2006-07-27|       28.7|                                    1|         2006-07-15|
|2006-07-28|       28.1|                                    1|         2006-07-15|
|2006-07-29|       29.1|                                    1|         2006-07-15|
|2006-07-30|       28.7|                                    1|         2006-07-15|
|2006-08-05|       25.5|                                    6|         2006-08-05|
|2006-08-06|       25.5|                                    1|         2006-08-05|
|2006-08-19|       25.1|                                   13|         2006-08-19|
|2006-09-06|       25.7|                                   18|         2006-09-06|
|2006-09-11|       26.5|                                    5|         2006-09-11|
|2006-09-12|       27.8|                                    1|         2006-09-11|
|2006-09-13|       28.1|                                    1|         2006-09-11|
|2006-09-14|       27.7|                                    1|         2006-09-11|
|2006-09-15|       26.6|                                    1|         2006-09-11|
|2006-09-16|       27.0|                                    1|         2006-09-11|
|2006-09-22|       26.3|                                    6|         2006-09-22|
|2007-04-14|       27.6|                                  204|         2007-04-14|
|2007-04-15|       28.9|                                    1|         2007-04-14|
|2007-04-16|       27.3|                                    1|         2007-04-14|
|2007-04-25|       27.7|                                    9|         2007-04-25|
|2007-04-26|       25.6|                                    1|         2007-04-25|
|2007-04-27|       27.4|                                    1|         2007-04-25|
|2007-04-28|       26.5|                                    1|         2007-04-25|
|2007-05-25|       25.5|                                   27|         2007-05-25|
|2007-06-07|       27.0|                                   13|         2007-06-07|
|2007-06-08|       31.6|                                    1|         2007-06-07|
|2007-06-11|       25.6|                                    3|         2007-06-11|
|2007-06-19|       25.5|                                    8|         2007-06-19|
|2007-07-15|       28.9|                                   26|         2007-07-15|
|2007-07-16|       27.5|                                    1|         2007-07-15|
|2007-07-19|       25.1|                                    3|         2007-07-19|
|2007-08-04|       26.2|                                   16|         2007-08-04|
|2007-08-05|       28.6|                                    1|         2007-08-04|
|2007-08-06|       28.0|                                    1|         2007-08-04|
|2007-08-15|       25.6|                                    9|         2007-08-15|
|2007-08-24|       25.4|                                    9|         2007-08-24|
|2008-05-07|       25.5|                                  257|         2008-05-07|
|2008-05-08|       25.1|                                    1|         2008-05-07|
|2008-05-09|       26.3|                                    1|         2008-05-07|
|2008-05-10|       27.4|                                    1|         2008-05-07|
|2008-05-11|       26.3|                                    1|         2008-05-07|
|2008-05-12|       26.9|                                    1|         2008-05-07|
|2008-05-13|       26.0|                                    1|         2008-05-07|
|2008-05-14|       26.6|                                    1|         2008-05-07|
|2008-05-28|       25.8|                                   14|         2008-05-28|
|2008-06-02|       28.8|                                    5|         2008-06-02|
|2008-06-06|       25.1|                                    4|         2008-06-06|
|2008-06-08|       26.7|                                    2|         2008-06-08|
|2008-06-09|       26.5|                                    1|         2008-06-08|
|2008-06-22|       26.6|                                   13|         2008-06-22|
|2008-07-01|       27.7|                                    9|         2008-07-01|
|2008-07-02|       31.2|                                    1|         2008-07-01|
|2008-07-24|       26.0|                                   22|         2008-07-24|
|2008-07-25|       28.1|                                    1|         2008-07-24|
|2008-07-26|       28.9|                                    1|         2008-07-24|
|2008-07-27|       28.2|                                    1|         2008-07-24|
|2008-07-28|       27.9|                                    1|         2008-07-24|
|2008-07-30|       27.2|                                    2|         2008-07-30|
|2008-07-31|       29.8|                                    1|         2008-07-30|
|2008-08-06|       27.0|                                    6|         2008-08-06|
|2008-08-31|       27.6|                                   25|         2008-08-31|
|2008-09-11|       26.4|                                   11|         2008-09-11|
+----------+-----------+-------------------------------------+-------------------+
only showing top 200 rows

In [202]:
is_tropical_day = f.col("temperature") >= 30.0

result_df = (
    window_df
    .withColumn("tropical_day", f.when(is_tropical_day, 1))
    .groupBy(f.col("sequence_start_date").alias("From date"))
    .agg(
        f.count("*").alias("Duration (in days)"),
        f.sum("tropical_day").alias("Number of tropical days"),
        f.max("temperature").alias("Max temperature")
    )
    .withColumn("To date (inc)", f.date_add("From date", f.col("Duration (in days)").cast(IntegerType())))
    .where((f.col("Duration (in days)") >= 5) & (f.col("Number of tropical days") >= 3))
    .select("From date", "To date (inc)", "Duration (in days)", "Number of tropical days", "Max temperature")
)

result_df.show()

23/07/15 23:30:42 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
23/07/15 23:30:42 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
23/07/15 23:30:42 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
23/07/15 23:30:42 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.

+----------+-------------+------------------+-----------------------+---------------+
| From date|To date (inc)|Duration (in days)|Number of tropical days|Max temperature|
+----------+-------------+------------------+-----------------------+---------------+
|2003-07-31|   2003-08-14|                14|                      7|           35.0|
|2004-08-02|   2004-08-12|                10|                      3|           32.5|
|2005-06-18|   2005-06-25|                 7|                      3|           32.8|
|2006-06-30|   2006-07-07|                 7|                      3|           32.0|
|2006-07-15|   2006-07-31|                16|                      8|           35.7|
+----------+-------------+------------------+-----------------------+---------------+

23/07/15 23:30:43 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
23/07/15 23:30:43 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
23/07/15 23:30:43 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
23/07/15 23:30:43 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.